<div class="heading">
	<h1>{{title}}</h1>
	<div class="-actions" >
	<div {{bind-attr class=":item :filter showAvailableFilters:active"}} {{action 'toggleShowAvailableFilters'}}>
		{{fa-icon 'filter'}} Filtros
	</div>
	</div>
</div>

<div {{bind-attr class=":filter-container showAvailableFilters:show"}}>
	
	<div class="current-search">
		<fieldset style="position: relative;">
			
		{{#if currentSearch}} 
			{{#if currentSearch.isSomeDirty}} 
			<b>Guardar cambios</b>
			{{else}}
			<b>Editar busqueda</b>
			{{/if}}
			{{input type='text' value=currentSearch.name}}
			{{#if currentSearch.isSomeDirty}} 
				{{#tool-tipster title="Guardar cambios" position="left" class="save-search"}} 
					<a {{action 'saveSearch'}}>{{fa-icon 'check'}}</a>
				{{/tool-tipster}}
			{{/if}}
			{{#tool-tipster title="Eliminar busqueda" position="left" class="delete-search"}} 
			<a {{action 'removeSearch'}}>{{fa-icon 'trash'}}</a>
			{{/tool-tipster}}
		{{else}}
			<b>Guardar busqueda</b>
			{{input type='text' value=searchName}}
			{{#tool-tipster title="Guardar busqueda" position="left" class="save-search"}} 
				<a {{action 'createSearch'}}>{{fa-icon 'check'}}</a>
			{{/tool-tipster}}
		{{/if}}
		</fieldset>
	</div>

	{{#if searchs}}
		<div class="item">
			{{view "select" content=searchs value=currentSearch optionLabelPath="content.name" prompt="Nueva Busqueda" }}
		</div>
	{{/if}}

	<a class="search-btn" {{action 'search'}}>{{fa-icon "search"}} Buscar</a>

	{{#perfect-scroll wheelSpeed=2}}

	<div class="filter-box">
	{{#each filters as |filter|}}
		{{filter-item filter=filter class="search-filter" action="removeFilter"}}
	{{/each}}
	</div>
	
	<ul class="filter-available">
	{{#each availableFiltersList as |availableFilter|}}
		<li> 
			<a {{action 'addFilter' availableFilter}}> {{fa-icon 'plus'}} </a>
			<span>{{availableFilter.name}}</span>
		</li>
	{{/each}} 
	</ul>

	{{/perfect-scroll}}
</div>

