<div class="heading">
	<h1>{{title}}</h1>
	<div class="-actions" {{action 'toggleShowAvailableFilters'}}>
		<div class="sort">
			{{fa-icon 'filter'}}
		</div>
	</div>
	{{#if showAvailableFilters}}
	<div>
		<ul>
		{{#each availableFilters as |availableFilter|}}
			<li> 
				{{availableFilter.name}} 
				<a {{action 'addFilter' availableFilter}}> Agregar </a>
			</li>
		{{/each}} 
		</ul>
	</div>
	{{/if}}

	{{#each filters as |filter|}}
		{{filter-item filter=filter action="removeFilter"}}
	{{/each}}

	<a {{action 'search'}}>Buscar</a>
</div>

