<div class="heading">
	<h1>{{title}}</h1>
	<div class="-actions" {{action 'toggleShowAvailableFilters'}}>
		<div class="item sort">
			{{fa-icon 'filter'}} Agregar filtros
		</div>
	</div>
</div>


{{#if searchs}}
	{{view "select" content=searchs value=currentSearch optionLabelPath="content.name" prompt="Nueva Busqueda"}}
{{/if}}

{{#if showAvailableFilters}}
<div class="add-filter-list side-panel-test">
	<ul>
	{{#each availableFiltersList as |availableFilter|}}
		<li> 
			{{availableFilter.name}} 
			<a {{action 'addFilter' availableFilter}}> Agregar </a>
		</li>
	{{/each}} 
	</ul>
</div>
{{/if}}


<div class="filter-container">
	<div class="filter-box">
	{{#each filters as |filter|}}
		{{filter-item filter=filter class="search-filter" action="removeFilter"}}
	{{/each}}
	</div>

	<a class="search-btn" {{action 'search'}}>{{fa-icon "search"}} Buscar</a>

	{{#if currentSearch}} 
		{{#if currentSearch.isSomeDirty}} 
			<a {{action 'saveSearch'}}>Guardar</a>
		{{/if}}
	{{else}}
		{{#if filters}}	
			{{input type='text' value=searchName}} <a {{action 'createSearch'}}>Guardar Busqueda</a>
		{{/if}}
	{{/if}}
</div>

