<h1>Proyectos</h1>
<div class="proyecto-container">
	{{#each model as |proyecto|}}
	<div class="proyecto-item">
		{{proyecto.tipo}} {{proyecto.tipo_camara}} {{proyecto.codigo_exp}}

		Periodo {{proyecto.periodo}} <br>
		<time>{{time-format proyecto.fecha '[El] Do [de] MMMM [de] dddd [a las] h:mm'}}</time>
		{{#link-to 'proyectos.show' proyecto.id}}ver{{/link-to}}
	</div>
	{{/each}}
</div>

{{infinity-loader infinityModel=model}}