{{close-delay target=".side-panel" delay=700 closeClass="close" transitionTo='proyectos'}}

{{#liquid-if model class="side-panel anim-article show"}}
<article class="proyectos-article">
	<time class="proyecto-fecha">{{time-format model.fecha 'Do [de] MMMM [de] YYYY'}}</time> 
	{{#perfect-scroll wheelSpeed=2}}
		
		<h2>{{model.tipo_proy}} <br> {{model.codigo_exp}}</h2>

		<div class="article-meta">
			<div class="meta-item">
				<p class="meta-title">{{model.tipo_camara}}</p>
				<small>Camara iniciadora</small>
			</div>
			<div class="meta-item">
				<p class="meta-title">{{model.periodo}}</p>
				<small>Periodo</small>
			</div>
		</div>

		<p class="titulo">{{model.titulo}}</p>

		<h3>Sumario</h3>
		<p class="sumario">{{model.sumario}}</p>

		<h3>Firmantes</h3>
		<ul>
		{{#each model.firmantes as |firmante|}}
			<li>{{firmante.nombre_leg_func}} {{firmante.distrito}} {{firmante.nombre_del_bloque}} </li>
		{{/each}}
		</ul>

		<h3>Giros</h3>
		<ul>
		{{#each model.giros as |giro|}}
			<li>{{giro.fk_comision.datos.nombre}}</li>
		{{/each}}
		</ul>
	{{/perfect-scroll}}
</article>
{{/liquid-if}}