<h2>{{model.comision.datos.nombre}}</h2>

<ul>
{{#each model.comision.legisladores as |integrante|}}
	<li>{{integrante.cargo}} {{integrante.fk_legislador.cargo}} {{integrante.fk_legislador.distrito}} {{integrante.fk_legislador.fk_persona_fisica.datos.nombre}} {{integrante.fk_legislador.fk_persona_fisica.datos.apellido}}</li>
{{/each}}
</ul>

<ul>
{{#each model.proyectos as |proyecto|}}
	<li>{{proyecto.codigo_exp}}</li>
{{/each}}
</ul>
{{infinity-loader infinityModel=model}}
