{{close-delay target=".side-panel" delay=700 closeClass="close" transitionTo='comisiones.index'}}

{{#liquid-if model class="side-panel anim-article show"}}
	<article>
		{{#perfect-scroll wheelSpeed=2}}
			<div>
					<div class="citacion-item">
					{{time-format citacion.fecha '[El] Do [de] MMMM [de] dddd [a las] h:mm'}}<br> {{citacion.estado}} <br> {{citacion.resumen}} <br> {{citacion.observaciones}} <br> <small>({{citacion.fk_lugar.nombre}} | {{citacion.fk_lugar.ubicacion}})</small>
					</div>
			</div>
		{{/perfect-scroll}}
	</article>

{{/liquid-if}}