<div class="proyecto-item">
	<div class="item-left">
		{{#link-to 'proyectos.show' item.id}}{{item.codigo_exp}}{{/link-to}}
	</div>
	<div class="item-center">
		<b class="title">{{item.tipo}} de {{item.tipo_proy}}</b>
		<p>{{item.titulo}}</p>
	</div>
	<div class="item-right">
		<div class="item-meta">
			<div class="meta-item">
				<span class="meta-title">{{item.tipo_camara}}</span><br>
				<small>Camara iniciadora</small>
			</div>
			<div class="meta-item">
				<span class="meta-title">{{item.periodo}}</span><br>
				<small>Periodo</small>
			</div>
		</div>
	</div>
</div>
