{{document-title title="SPD"}}

{{#if session.isAuthenticated}}
<nav {{bind-attr class="isShowMenu:show"}}>
	{{#link-to 'index' class="app-logo"}}
		<img src="assets/images/logo-hcdn.png">
	{{/link-to}}

	{{#if session.isAuthenticated}}
	  <ul class="main-nav">
		<li>
			{{#link-to 'proyectos.index'}}
				{{fa-icon 'folder-o'}}
				<span>Proyectos</span>
			{{/link-to}}
		</li>  	
		<li >
			{{#link-to 'comisiones.index'}}
				{{fa-icon 'comments'}}
		  		<span>Comisiones</span>
	  		{{/link-to}}
		</li>  	
		<li>
	  		{{#link-to 'ordenes-del-dia.index'}}
				{{fa-icon 'list-ul'}}
		  		<span>Ordenes del día</span>
	  		{{/link-to}}
		</li>  
		<li>
	  		{{#link-to 'citaciones.index'}}
				{{fa-icon 'calendar-o'}}
		  		<span>Citaciones</span>
	  		{{/link-to}}
		</li> 			
		<li class="disabled">
	  		<a>
				{{fa-icon 'file-text-o'}}
	  			<span>Planes de labor</span>
	  		</a>
		</li>  	
	  </ul>
	{{/if}}

	<div class="user-login">
		{{#if session.isAuthenticated}}
		  	<p>{{session.user.nombre}} <span>({{session.user.diputado}})</span></p>
		  	{{#tool-tipster title="Mantener apretado para salir" position="top"}} 
			  	{{#hold-button type="rectangle" action="invalidateSession"}}
				  Salir
				{{/hold-button}}
			{{/tool-tipster}}
		{{else}}
	  		{{#link-to 'login'}}Ingresar{{/link-to}}
		{{/if}}
	</div>
</nav>

<div class="action-bar">
	{{t-menu a="arrow-360-left" action="toggleMenu" class="smart-search" is-open=isShowMenu}}
</div>

{{liquid-outlet class="main-content"}}

{{else}}

{{liquid-outlet class="login-container"}}

{{/if}}

{{ember-notify messageStyle='refills'}} 

