{{document-title title="SPD"}}

<nav>
	{{#link-to 'index' class="app-logo"}}
		<img src="assets/images/logo-hcdn.png">
	{{/link-to}}

	{{#if session.isAuthenticated}}
	  <ul class="main-nav">
		<li>
			{{#link-to 'proyectos.index'}}
				{{fa-icon 'folder-o'}}
				<span>Expedientes</span>
			{{/link-to}}
		</li>  	
		<li class="disabled">
			<a>
				{{fa-icon 'comments'}}
		  		<span>Comisiones</span>
	  		</a>
		</li>  	
		<li class="disabled">
	  		<a>
				{{fa-icon 'list-ul'}}
		  		<span>Ordenes del día</span>
	  		</a>
		</li>  	
		<li class="disabled">
	  		<a>
				{{fa-icon 'file-text-o'}}
	  			<span>Planes de labor</span>
	  		</a>
		</li>  	
	  </ul>
	{{/if}}
</nav>

<header>
	<div class="user-login">
		{{#if session.isAuthenticated}}
		  	{{session.user.nombre}} <a {{ action 'invalidateSession' }}>Salir</a>
		{{else}}
	  		{{#link-to 'login'}}Ingresar{{/link-to}}
		{{/if}}
	</div>
</header>

{{liquid-outlet class="main-content"}}
