
<div class="login">
  

  <div class="logo">
    <img src="assets/images/logo-hcdn.png">
  </div>

<form {{action 'authenticate' on='submit'}}>
  <fieldset>
    <label for="identification">Cuil</label>
    {{input id='identification' placeholder='...' value=identification}}
  </fieldset>
  <fieldset>
    <label for="password">Contraseña</label>
    {{input id='password' placeholder='...' type='password' value=password}}
  </fieldset>
  <fieldset>
    <button class="btn -simple" type="submit"> {{fa-icon 'check'}} Ingresar</button>
  </fieldset>
  {{#if errorMessage}}
    {{errorMessage}}
    {{errorDescription}}
  {{/if}}
</form>


</div>
