
{{outlet}}

<div class="container">
	
	{{filter-panel availableFilters=availableFilters title="Orden del día" action='search' moduleName='od' owner=session.user.cuil}}

	<div class="ordenes-del-dia">
		<section class="scroll">
			<div class="-list">
			{{#each model as |orden_del_dia|}}
			  {{#if orden_del_dia.numero}}
				  <div class="-item">
					  {{#link-to 'ordenes-del-dia.show' orden_del_dia.id}} N°{{orden_del_dia.numero}}{{/link-to}}
					  {{model.despacho.texto_legado}}
				  </div>
			  {{else}}
				   <div class="-item -fulfilled">
					  <span class="item-1"></span>
					  <span class="item-2"></span>
					  <span class="item-3"></span>
				  </div>
			  {{/if}}
			{{/each}}
			</div>
			{{infinity-loader infinityModel=model targetScroll=".scroll"}}
		</section>
	</div>
</div>


